* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.HistoryRowContainer {
    width: 100%;
    min-height: 30px;
    max-height: 30px;
    position: relative;
    display: flex;
    flex: 1 1;
}

.HistoryRowContainer:nth-child(odd) {
    background-color: #ffffff;
}

.HistoryRowContainer:nth-child(even) {
    background-color: #f5f5f5;
}

.ColumnLabel {
    position: relative;
    min-width: 77.14px;
    max-height: 30px;
    min-height: 30px;
    color: black;
    font-size: 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HistoryRowContainer select input {
    border-top: none;
    border-left: none;
}

.ConfirmBtn {
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    background-color: #85b278;
}