* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.LabelsContainer {
    min-height: 30px;
    max-height: 30px;
    background-color: #838fdb;
    position: relative;
    display: flex;
    flex: 1 1;
    width: 100%; 
}

.ColumnLabel {
    min-width: 77.14px;
    max-height: 30px;
    min-height: 30px;
    font-size: 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex: 1 1; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    transform: translateY(-1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.LabelsContainer span {
    color: white;
}