* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.BalanceCardContainer {
    min-width: 250px;
    min-height: 145px;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3c4142;
    padding: 1rem;
}


.BalanceTitle,
.BalanceActual,
.RiskTitlePct,
.RiskActualPct,
.RiskTitleVal,
.RiskActualVal {
    display: flex;
    align-items: center;
    margin-right: auto;
    color: white;
}

.BalanceTitle,
.RiskTitlePct,
.RiskTitleVal {
    font-weight: bold;
}

.BalanceTitle,
.RiskTitlePct,
.RiskTitleVal {
    font-size: 12px;
}

.BalanceActual,
.RiskActualPct {
    font-size: 30px;
}