* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.StatCardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 calc((100% - 20px) / 3);
    min-width: 263.3px;
    min-height: 193px;
    cursor: pointer;
    position: relative;
}

.StatisticHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #001f6e;
    max-height: 32.17px;
    min-height: 32.17px;
}

.RiskValue,
.StopValue {
    color: white;
    font-size: 24px;
}


.CardContent {
    background-color: #3c4142;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    flex: 1;
}

.StatisticContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
    padding: 20px;
}

.StatisticTitle,
.StatisticValue {
    color: white;
}

.StatisticTitle {
    font-size: 24px;
}

.StatisticValue {
    font-size: 24px;
    font-weight: bold;
}

.blocked {
    background-color: #df5e5e !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: not-allowed !important;
    /* pointer-events: none !important; */
}

.BlockedMessage {
    color: white;
    font-weight: bold;
}

@media screen and (min-width: 1220px) {

    .StatisticValue,
    .StatisticTitle,
    .BlockedMessage {
        font-size: 16px;
    }

    .RiskValue,
    .StopValue {
        font-size: 16px;
    }
}

@media screen and (min-width: 1500px) {

    .StatisticValue,
    .StatisticTitle,
    .BlockedMessage {
        font-size: 18px;
    }

    .RiskValue,
    .StopValue {
        font-size: 18px;
    }
}


@media screen and (min-width: 1700px) {

    .StatisticValue,
    .StatisticTitle,
    .BlockedMessage {
        font-size: 20px;
    }

    .RiskValue,
    .StopValue {
        font-size: 20px;
    }
}

@media screen and (min-width: 1900px) {

    .StatisticValue,
    .StatisticTitle,
    .BlockedMessage {
        font-size: 22px;
    }

    .RiskValue,
    .StopValue {
        font-size: 22px;
    }
}