* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainContainer {
  display: flex;
  width: 1084px;
  max-width: 1084px;
  flex-direction: column;
  margin-bottom: auto;
  overflow: none;
  position: relative;
}

.MainContentContainer {
  display: flex;
  flex-wrap: wrap;
}