* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  overflow-y: hidden;
}

.MainContainer {
  display: flex;
  width: 100%;
  min-width: 1220px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: auto;
  overflow: hidden;
  position: relative;
}

.MainContentContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.HistoryContainer {
  height: 100%;
  min-height: 203px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 100%;
  flex-shrink: 0;
}