* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MainContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}

.MainContentContainer {
  display: flex;
}

.MainContentContainer:nth-child(2) {
  margin-right: auto;
}