* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.HeaderContainer {
    width: 100%;
    /* max-width: 1170px; */
    height: 57px;
    max-height: 57px;
    display: flex;
    align-items: center;
    background-color: #001F6E;
}

.HeaderTitle {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: auto;
    padding: 15px;
}

.HeaderContainer button {
    padding: 15px; 
    background: transparent; 
    color: white; 
    font-size: 30px;
    font-weight: normal;
    cursor: pointer; 
    border: none;
}